@import "tailwindcss";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

section {
    padding: 10px 20%;
    width: 100%;
}
#header {
    padding-top: 10px;
    padding-bottom: 10px;
}
#bgimg {
    padding: 15rem 20%;
}
#first-grid > div {
    border: thin solid rgba(195, 195, 195, 0.408);
    display: grid;
    justify-content: center;
    text-align: center;
}

#patient-section {
    padding: 20px;
}
#challenge {
    padding-top: 30px;
    padding-bottom: 30px;
}
#carder {
    padding: 15px;
    border-radius: 30px;
}
#updates {
    padding: 20px;
    background-image: url(Bg\ \(2\).svg);
}
#white-item {
    padding: 20px;
}
h3 {
    font-size: xx-large;
    color: #0A2E72;
}
h2 {
    font-size: x-large;
    color: #0A2E72;
}
h1 {
    font-size: large;
    color: #0A2E72;
    font-weight: 900;
    font-size: xx-large;
}
button {
    background-color: blue;
    padding: 5px 20px;
    border-radius: 50px;
    color: white;
}
